body { text-align: center; background-color: #BBBAC6; font-family: 'Raleway', sans-serif; margin: 0 }

* { box-sizing: border-box }

.clear { clear: both }
.container { padding: 0 20px; max-width: 900px; margin: 0 auto }

/* header */
header { background-color: #0471A6; padding: 2px 0 }
header h1 { margin: 4% auto }
section h2 { margin: 5% auto }
h1, h2, h3 { font-family: 'ZCOOL KuaiLe', cursive }


/*nav */     
/* con el linea-height te queda el texto alineado al medio cuando le das altura al boton */
nav a { display: block; text-decoration: none; background-color: #8A1C7C; line-height: 40px; margin-bottom: 2px; transition: .5s; padding: 0 20px; color: #000 }
nav a:hover { background-color: #BA4C4E; color: #fff }
/* section */
/* esta solucion para resolver el espacio es solo para cuando son 2 columnas */
section h2 { margin: 5% auto }

section .row { background-color: #ddd; padding: 3% }
section .colum { background-color: #fff; margin: 0; padding: 2% ; position: relative;}
section .colizq { margin-bottom: 3% }
.nuevo{background-color: #04F06A; color: #fff; text-transform: uppercase;padding: 10px;position: absolute; top: 0; right: 0}
.galeria{background-color: #04F06A;height: 400px;position: relative;}
.flecha{display: inline-block;background-color: #FB8187;width: 50px; height: 
50px;line-height: 50px; border-radius: 50%;text-decoration: none;position: absolute;top:50%;margin-top: -25px}
.anterior{left: -20px}
.siguiente{right: -20px}
.todo{position:fixed;z-index: 900000000000000000000 ;-webkit-box-shadow: 6px 6px 6px 6px rgba(0,0,0,.5);
box-shadow: 6px 6px 6px 6px rgba(0,0,0,.5);top: 0;bottom: 0;right: 0;left: 0}
.cuadro{text-align: center;position: absolute;z-index: 900000000000;background-color: #EBF5EE;width: 400px;height: 600px;;right: 40%;position: fixed;}


footer p {  }

@media screen and ( min-width: 740px) {
section .row { overflow: auto }
section .colum { width: 47% }
section .colizq { float: left; margin-bottom: 0 }
section .colder { float: right }
}

@media screen and ( min-width: 550px) {

nav a { display: inline-block }}

@media screen and ( min-width: 880px) {

header h1 { float: left }
header nav  { float: right; padding: 0 50px; margin: 4% auto }
header {position: fixed;width: 100%;top: 0;z-index: 5}
section{margin-top: 150px}
